@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@layer base {
  :root {
    --color-primary:  #56b280;
    --color-secondary: #3d8d61;
    --color-tertiary:  #a0dbc0;
    --color-accent: #f5b84c;
    --color-light-green:#56B2801A;
    --color-haki:#849A8E;
    --color-mgr:#5E6E89;
  }
}

@custom-variant dark (&:where(.dark, .dark *));



@theme{
  --font-roboto:'Roboto', sans-serif;
  --font-poppins:'Poppins', sans-serif;
  --font-helvetica:'Helvetica', sans-serif;
}



@layer utilities {
  .bg-primary     { background-color: var(--color-primary); }
  .text-primary   { color: var(--color-primary); }
  .border-primary { border-color: var(--color-primary); }

  .bg-secondary     { background-color: var(--color-secondary); }
  .text-secondary   { color: var(--color-secondary); }
  .border-secondary { border-color: var(--color-secondary); }

  .bg-tertiary     { background-color: var(--color-tertiary); }
  .text-tertiary   { color: var(--color-tertiary); }
  .border-tertiary { border-color: var(--color-tertiary); }


  .bg-haki     { background-color: var(--color-haki); }
  .text-haki   { color: var(--color-haki); }
  .border-haki { border-color: var(--color-haki); }

  .bg-lgt-gr     { background-color: var(--color-light-green); }
  .text-lgt-gr   { color: var(--color-light-green); }
  .border-lgt-gr { border-color: var(--color-light-green); }


  .bg-mgr     { background-color: var(--color-mgr); }
  .text-mgr   { color: var(--color-mgr); }
  .border-mgr { border-color: var(--color-mgr); }



  .bg-accent     { background-color: var(--color-accent); }
  .text-accent   { color: var(--color-accent); }
  .border-accent { border-color: var(--color-accent); }
}


@layer components {
  .footer-container {
    @apply pt-8 md:pt-[3.75rem] pb-20 md:pb-[7rem] px-4 md:px-0 flex flex-wrap w-full bg-[#272727];
  }

  .hero-wrapper{
    @apply bg-[#ffffff4d] backdrop-blur-[86px] w-[90%] max-w-[640px] dark:bg-black/50 flex flex-col justify-center items-center rounded-3xl;
  }

}

.footer-links-container > * {
  margin-bottom:1rem ;
  cursor: pointer;

}

.hero-container {
  width: 100%;
  height: 600px;
  background-image: url('@/assets/images/hero-image.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
